/*Afecta toda la pagina*/

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#424242;
}

/*El menu*/

nav{
    background:rgb(0, 4, 59);

    padding:15px 40px;

    border-radius:10px;

    box-shadow:0px 0px 15px rgba(0,0,0,0.5);
}

nav ul{
    list-style:none;

    display:flex;

    justify-content:center;

    margin:0;
    padding:0;
}

nav ul li{
    margin:0 25px;
}

nav ul li a{
    color:rgb(0, 174, 255);

    text-decoration:none;

    font-size:20px;
    font-weight:bold;
}

nav ul li a:hover{
    color:#0051ff;
}

/*Inicio*/

header{

    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("banner.jpg");

    background-size:cover;
    background-position:center;

    height:600px;

    color:rgb(131, 255, 255);

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;
}

/*contenido*/

.contenido{

    max-width:900px;

    padding:20px;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;
}

/*titulo*/

.titulo{

    font-size:70px;

    margin-bottom:10px;

    text-transform:uppercase;

    text-shadow:3px 3px 10px black;
}

/*subtitulo*/

.subtitulo{

    font-size:30px;

    margin-bottom:20px;

    color:rgb(41, 125, 252);
}

/*texto del inicio*/

header p{

    font-size:28px;

    line-height:1.6;

    max-width:900px;

    text-shadow:2px 2px 8px black;
}

/*boton*/

.boton{

    margin-top:30px;

    display:inline-block;

    padding:15px 35px;

    background:#1333c0;

    color:rgb(255, 255, 255);

    text-decoration:none;

    font-size:22px;

    font-weight:bold;

    border-radius:10px;

    transition:0.3s;
}

.boton:hover{

    background:#0080ff;

    transform:scale(1.05);
}

/*estadisticas*/

.estadisticas{

    background:#1b1b1b;

    color:rgb(0, 255, 255);

    display:flex;

    justify-content:center;

    gap:100px;

    padding:50px;

    text-align:center;
}

.estadisticas h2{

    font-size:50px;

    color:#0080ff;
}

/*secciones*/

section{

    padding:80px 50px;

    text-align:center;
}

section h2{

    font-size:45px;

    color:#0080ff;
}

section p{

    font-size:22px;

    color:rgb(131, 255, 255);

    max-width:900px;

    margin:auto;

    line-height:1.6;
}

/*cuadros*/

.tarjetas{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

    margin-top:50px;
}

.card{

    background:#1b1b1b;

    width:300px;

    padding:30px;

    border-radius:15px;

    box-shadow:0px 0px 15px rgba(0,0,0,0.2);

    transition:0.3s;
}

.card:hover{

    transform:translateY(-10px);
}

.card h3{

    color:#0080ff;

    margin-bottom:15px;

    font-size:28px;
}

.card p{

    font-size:18px;
}

/*pie de la pagina*/

footer{

    background:black;

    color:rgb(194, 255, 255);

    text-align:center;

    padding:30px;

    margin-top:50px;
}